@model WebFullCar.Models.LoginModel
@{
   /**/
   ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("MyIndex","Home",FormMethod.Get))
{
    <div>
        Username: @Html.TextBoxFor(m => m.Username)
    </div>
    <div>
        Password: @Html.PasswordFor(m => m.Password)
    </div>
    <div>
      <input type="submit" value="Login"/>
    </div>
}
